USE [master]
GO
/****** Object:  Database [GestionAcademica]    Script Date: 20/8/2025 08:33:46 ******/
CREATE DATABASE [GestionAcademica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestionAcademica', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GestionAcademica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestionAcademica_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GestionAcademica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestionAcademica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestionAcademica]
GO
/****** Object:  Table [dbo].[Docentes]    Script Date: 20/8/2025 08:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Docentes](
	[DocenteID] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](100) NOT NULL,
	[Apellidos] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[Activo] [bit] NOT NULL,
	[Contraseña] [nvarchar](255) NULL,
	[Rol] [nvarchar](20) NOT NULL,
	[FacultadID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DocenteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiantes]    Script Date: 20/8/2025 08:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiantes](
	[EstudianteID] [int] IDENTITY(1,1) NOT NULL,
	[Carnet] [nvarchar](20) NOT NULL,
	[Nombres] [nvarchar](100) NOT NULL,
	[Apellidos] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[Telefono] [nvarchar](20) NULL,
	[FechaNacimiento] [date] NULL,
	[FechaIngreso] [datetime] NOT NULL,
	[Activo] [bit] NOT NULL,
	[CarreraID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EstudianteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materias]    Script Date: 20/8/2025 08:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materias](
	[MateriaID] [int] IDENTITY(1,1) NOT NULL,
	[DocenteID] [int] NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Codigo] [nvarchar](20) NOT NULL,
	[Creditos] [int] NOT NULL,
	[Periodo] [nvarchar](20) NOT NULL,
	[Activa] [bit] NOT NULL,
	[CarreraID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MateriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inscripciones]    Script Date: 20/8/2025 08:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inscripciones](
	[InscripcionID] [int] IDENTITY(1,1) NOT NULL,
	[EstudianteID] [int] NOT NULL,
	[MateriaID] [int] NOT NULL,
	[FechaInscripcion] [datetime] NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InscripcionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_EstudiantesPorMateria]    Script Date: 20/8/2025 08:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vista para obtener el resumen de estudiantes por materia
CREATE VIEW [dbo].[vw_EstudiantesPorMateria] AS
SELECT 
    m.MateriaID,
    m.Nombre AS Materia,
    m.Codigo,
    m.Periodo,
    CONCAT(d.Nombres, ' ', d.Apellidos) AS Docente,
    e.EstudianteID,
    e.Carnet,
    CONCAT(e.Nombres, ' ', e.Apellidos) AS Estudiante,
    e.Email,
    i.FechaInscripcion,
    i.Estado
FROM Materias m
INNER JOIN Docentes d ON m.DocenteID = d.DocenteID
INNER JOIN Inscripciones i ON m.MateriaID = i.MateriaID
INNER JOIN Estudiantes e ON i.EstudianteID = e.EstudianteID
WHERE m.Activa = 1 AND e.Activo = 1;
GO
/****** Object:  Table [dbo].[TiposAsignacion]    Script Date: 20/8/2025 08:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposAsignacion](
	[TipoAsignacionID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoAsignacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asignaciones]    Script Date: 20/8/2025 08:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asignaciones](
	[AsignacionID] [int] IDENTITY(1,1) NOT NULL,
	[MateriaID] [int] NOT NULL,
	[TipoAsignacionID] [int] NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Descripcion] [ntext] NULL,
	[Porcentaje] [decimal](5, 2) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaVencimiento] [datetime] NULL,
	[NotaMaxima] [decimal](4, 2) NOT NULL,
	[Activa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AsignacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calificaciones]    Script Date: 20/8/2025 08:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calificaciones](
	[CalificacionID] [int] IDENTITY(1,1) NOT NULL,
	[AsignacionID] [int] NOT NULL,
	[EstudianteID] [int] NOT NULL,
	[Nota] [decimal](4, 2) NOT NULL,
	[FechaCalificacion] [datetime] NOT NULL,
	[Observaciones] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CalificacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ResumenCalificaciones]    Script Date: 20/8/2025 08:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vista para el resumen de calificaciones
CREATE VIEW [dbo].[vw_ResumenCalificaciones] AS
SELECT 
    e.EstudianteID,
    e.Carnet,
    CONCAT(e.Nombres, ' ', e.Apellidos) AS Estudiante,
    m.MateriaID,
    m.Nombre AS Materia,
    a.AsignacionID,
    a.Nombre AS Asignacion,
    ta.Nombre AS TipoAsignacion,
    a.Porcentaje,
    a.NotaMaxima,
    c.Nota,
    c.FechaCalificacion,
    c.Observaciones
FROM Estudiantes e
INNER JOIN Inscripciones i ON e.EstudianteID = i.EstudianteID
INNER JOIN Materias m ON i.MateriaID = m.MateriaID
INNER JOIN Asignaciones a ON m.MateriaID = a.MateriaID
LEFT JOIN Calificaciones c ON a.AsignacionID = c.AsignacionID AND e.EstudianteID = c.EstudianteID
INNER JOIN TiposAsignacion ta ON a.TipoAsignacionID = ta.TipoAsignacionID
WHERE e.Activo = 1 AND m.Activa = 1 AND a.Activa = 1;
GO
/****** Object:  Table [dbo].[Carreras]    Script Date: 20/8/2025 08:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carreras](
	[CarreraID] [int] IDENTITY(1,1) NOT NULL,
	[FacultadID] [int] NOT NULL,
	[Codigo] [nvarchar](10) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[DuracionAnios] [int] NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Activa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CarreraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstudianteMaterias]    Script Date: 20/8/2025 08:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstudianteMaterias](
	[EstudianteMateriaID] [int] IDENTITY(1,1) NOT NULL,
	[EstudianteID] [int] NOT NULL,
	[MateriaID] [int] NOT NULL,
	[FechaInscripcion] [datetime] NOT NULL,
	[Activa] [bit] NOT NULL,
	[Observaciones] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[EstudianteMateriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facultades]    Script Date: 20/8/2025 08:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facultades](
	[FacultadID] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](10) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Activa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FacultadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Asignaciones] ON 

INSERT [dbo].[Asignaciones] ([AsignacionID], [MateriaID], [TipoAsignacionID], [Nombre], [Descripcion], [Porcentaje], [FechaCreacion], [FechaVencimiento], [NotaMaxima], [Activa]) VALUES (1, 1, 1, N'Parcial P2', N'Evaluación sobre packet tracer', CAST(50.00 AS Decimal(5, 2)), CAST(N'2025-08-18T23:49:32.757' AS DateTime), CAST(N'2025-08-25T23:48:25.187' AS DateTime), CAST(10.00 AS Decimal(4, 2)), 1)
INSERT [dbo].[Asignaciones] ([AsignacionID], [MateriaID], [TipoAsignacionID], [Nombre], [Descripcion], [Porcentaje], [FechaCreacion], [FechaVencimiento], [NotaMaxima], [Activa]) VALUES (3, 1, 3, N'guia', NULL, CAST(10.00 AS Decimal(5, 2)), CAST(N'2025-08-19T08:46:42.720' AS DateTime), CAST(N'2025-08-26T08:46:13.383' AS DateTime), CAST(10.00 AS Decimal(4, 2)), 1)
INSERT [dbo].[Asignaciones] ([AsignacionID], [MateriaID], [TipoAsignacionID], [Nombre], [Descripcion], [Porcentaje], [FechaCreacion], [FechaVencimiento], [NotaMaxima], [Activa]) VALUES (4, 7, 1, N'Primer Parcial', N'Evaluación de conceptos básicos de programación', CAST(25.00 AS Decimal(5, 2)), CAST(N'2025-08-19T21:21:57.427' AS DateTime), CAST(N'2025-09-18T21:21:57.427' AS DateTime), CAST(10.00 AS Decimal(4, 2)), 1)
SET IDENTITY_INSERT [dbo].[Asignaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Calificaciones] ON 

INSERT [dbo].[Calificaciones] ([CalificacionID], [AsignacionID], [EstudianteID], [Nota], [FechaCalificacion], [Observaciones]) VALUES (1, 1, 1, CAST(3.80 AS Decimal(4, 2)), CAST(N'2025-08-19T00:49:00.383' AS DateTime), N'Copió')
INSERT [dbo].[Calificaciones] ([CalificacionID], [AsignacionID], [EstudianteID], [Nota], [FechaCalificacion], [Observaciones]) VALUES (2, 1, 2, CAST(9.00 AS Decimal(4, 2)), CAST(N'2025-08-19T00:49:00.467' AS DateTime), N'Excelente')
INSERT [dbo].[Calificaciones] ([CalificacionID], [AsignacionID], [EstudianteID], [Nota], [FechaCalificacion], [Observaciones]) VALUES (3, 1, 3, CAST(7.50 AS Decimal(4, 2)), CAST(N'2025-08-19T00:49:00.473' AS DateTime), N'Muy bien')
SET IDENTITY_INSERT [dbo].[Calificaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Carreras] ON 

INSERT [dbo].[Carreras] ([CarreraID], [FacultadID], [Codigo], [Nombre], [DuracionAnios], [Descripcion], [Activa]) VALUES (1, 1, N'ING-SIS', N'Ingeniería en Sistemas', 5, N'Carrera enfocada en desarrollo de software y sistemas', 1)
INSERT [dbo].[Carreras] ([CarreraID], [FacultadID], [Codigo], [Nombre], [DuracionAnios], [Descripcion], [Activa]) VALUES (2, 1, N'ING-IND', N'Ingeniería Industrial', 5, N'Optimización de procesos industriales', 1)
INSERT [dbo].[Carreras] ([CarreraID], [FacultadID], [Codigo], [Nombre], [DuracionAnios], [Descripcion], [Activa]) VALUES (3, 1, N'ING-CIV', N'Ingeniería Civil', 5, N'Diseño y construcción de infraestructura', 1)
SET IDENTITY_INSERT [dbo].[Carreras] OFF
GO
SET IDENTITY_INSERT [dbo].[Docentes] ON 

INSERT [dbo].[Docentes] ([DocenteID], [Nombres], [Apellidos], [Email], [Telefono], [FechaRegistro], [Activo], [Contraseña], [Rol], [FacultadID]) VALUES (1, N'María Elena', N'Rodríguez García', N'maria.rodriguez@universidad.edu', N'2234-5678', CAST(N'2025-08-13T18:47:09.510' AS DateTime), 1, N'123maria', N'Docente', 1)
INSERT [dbo].[Docentes] ([DocenteID], [Nombres], [Apellidos], [Email], [Telefono], [FechaRegistro], [Activo], [Contraseña], [Rol], [FacultadID]) VALUES (2, N'Admin', N'Principal', N'admin@uni.com', N'2234-5678', CAST(N'2025-08-16T11:51:54.403' AS DateTime), 1, N'admin123', N'Administrador', 6)
INSERT [dbo].[Docentes] ([DocenteID], [Nombres], [Apellidos], [Email], [Telefono], [FechaRegistro], [Activo], [Contraseña], [Rol], [FacultadID]) VALUES (3, N'Docente', N'Prueba', N'docente@uni.com', N'2234-9999', CAST(N'2025-08-16T11:51:54.403' AS DateTime), 1, N'docente123', N'Docente', 1)
SET IDENTITY_INSERT [dbo].[Docentes] OFF
GO
SET IDENTITY_INSERT [dbo].[EstudianteMaterias] ON 

INSERT [dbo].[EstudianteMaterias] ([EstudianteMateriaID], [EstudianteID], [MateriaID], [FechaInscripcion], [Activa], [Observaciones]) VALUES (1, 1, 1, CAST(N'2025-08-19T08:50:02.643' AS DateTime), 1, NULL)
INSERT [dbo].[EstudianteMaterias] ([EstudianteMateriaID], [EstudianteID], [MateriaID], [FechaInscripcion], [Activa], [Observaciones]) VALUES (2, 1, 7, CAST(N'2025-08-19T21:21:57.420' AS DateTime), 1, N'Migrado desde Inscripciones - Estado: Activo')
INSERT [dbo].[EstudianteMaterias] ([EstudianteMateriaID], [EstudianteID], [MateriaID], [FechaInscripcion], [Activa], [Observaciones]) VALUES (3, 1, 8, CAST(N'2025-08-19T21:21:57.420' AS DateTime), 1, N'Migrado desde Inscripciones - Estado: Activo')
SET IDENTITY_INSERT [dbo].[EstudianteMaterias] OFF
GO
SET IDENTITY_INSERT [dbo].[Estudiantes] ON 

INSERT [dbo].[Estudiantes] ([EstudianteID], [Carnet], [Nombres], [Apellidos], [Email], [Telefono], [FechaNacimiento], [FechaIngreso], [Activo], [CarreraID]) VALUES (1, N'2024001', N'Juan Luis', N'Pérez López', N'juan.perez@estudiante.edu', N'7890-1234', CAST(N'2002-03-15' AS Date), CAST(N'2025-08-13T18:47:09.510' AS DateTime), 1, 1)
INSERT [dbo].[Estudiantes] ([EstudianteID], [Carnet], [Nombres], [Apellidos], [Email], [Telefono], [FechaNacimiento], [FechaIngreso], [Activo], [CarreraID]) VALUES (2, N'2024002', N'Leslie Massiel', N'Garcia Martínez', N'leslie.garcia@estudiante.edu', N'7890-5678', CAST(N'2001-07-22' AS Date), CAST(N'2025-08-13T18:47:09.510' AS DateTime), 1, 1)
INSERT [dbo].[Estudiantes] ([EstudianteID], [Carnet], [Nombres], [Apellidos], [Email], [Telefono], [FechaNacimiento], [FechaIngreso], [Activo], [CarreraID]) VALUES (3, N'2024003', N'Luis Fernando', N'Hernández Silva', N'luis.hernandez@estudiante.edu', N'7890-9012', CAST(N'2002-11-08' AS Date), CAST(N'2025-08-13T18:47:09.510' AS DateTime), 1, 2)
SET IDENTITY_INSERT [dbo].[Estudiantes] OFF
GO
SET IDENTITY_INSERT [dbo].[Facultades] ON 

INSERT [dbo].[Facultades] ([FacultadID], [Codigo], [Nombre], [Descripcion], [Activa]) VALUES (1, N'FI', N'Facultad de Ingeniería', N'Facultad de carreras de ingeniería y tecnología', 1)
INSERT [dbo].[Facultades] ([FacultadID], [Codigo], [Nombre], [Descripcion], [Activa]) VALUES (2, N'FCE', N'Facultad de Ciencias Económicas', N'Facultad de carreras administrativas y económicas', 1)
INSERT [dbo].[Facultades] ([FacultadID], [Codigo], [Nombre], [Descripcion], [Activa]) VALUES (3, N'FH', N'Facultad de Humanidades', N'Facultad de carreras humanísticas y sociales', 1)
SET IDENTITY_INSERT [dbo].[Facultades] OFF
GO
SET IDENTITY_INSERT [dbo].[Inscripciones] ON 

INSERT [dbo].[Inscripciones] ([InscripcionID], [EstudianteID], [MateriaID], [FechaInscripcion], [Estado]) VALUES (1, 1, 1, CAST(N'2025-08-13T18:47:09.510' AS DateTime), N'Activo')
INSERT [dbo].[Inscripciones] ([InscripcionID], [EstudianteID], [MateriaID], [FechaInscripcion], [Estado]) VALUES (2, 2, 1, CAST(N'2025-08-13T18:47:09.510' AS DateTime), N'Activo')
INSERT [dbo].[Inscripciones] ([InscripcionID], [EstudianteID], [MateriaID], [FechaInscripcion], [Estado]) VALUES (3, 3, 1, CAST(N'2025-08-13T18:47:09.510' AS DateTime), N'Activo')
SET IDENTITY_INSERT [dbo].[Inscripciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Materias] ON 

INSERT [dbo].[Materias] ([MateriaID], [DocenteID], [Nombre], [Codigo], [Creditos], [Periodo], [Activa], [CarreraID]) VALUES (1, 3, N'Matemáticas IV', N'MAT101', 4, N'2024-2', 1, 1)
INSERT [dbo].[Materias] ([MateriaID], [DocenteID], [Nombre], [Codigo], [Creditos], [Periodo], [Activa], [CarreraID]) VALUES (4, 4, N'Sistemas Operativos', N'SOR101', 3, N'2024-2', 1, 1)
INSERT [dbo].[Materias] ([MateriaID], [DocenteID], [Nombre], [Codigo], [Creditos], [Periodo], [Activa], [CarreraID]) VALUES (5, 5, N'Marketing', N'MRK101', 3, N'2025-1', 1, 8)
SET IDENTITY_INSERT [dbo].[Materias] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposAsignacion] ON 

INSERT [dbo].[TiposAsignacion] ([TipoAsignacionID], [Nombre], [Descripcion]) VALUES (1, N'Examen Parcial', N'Evaluación parcial del período académico')
INSERT [dbo].[TiposAsignacion] ([TipoAsignacionID], [Nombre], [Descripcion]) VALUES (2, N'Examen Final', N'Evaluación final del período académico')
INSERT [dbo].[TiposAsignacion] ([TipoAsignacionID], [Nombre], [Descripcion]) VALUES (3, N'Tarea', N'Asignación de tarea para realizar en casa')
SET IDENTITY_INSERT [dbo].[TiposAsignacion] OFF
GO
/****** Object:  Index [IX_Asignaciones_MateriaID]    Script Date: 20/8/2025 08:33:47 ******/
CREATE NONCLUSTERED INDEX [IX_Asignaciones_MateriaID] ON [dbo].[Asignaciones]
(
	[MateriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_Calificaciones_Asignacion_Estudiante]    Script Date: 20/8/2025 08:33:47 ******/
ALTER TABLE [dbo].[Calificaciones] ADD  CONSTRAINT [UK_Calificaciones_Asignacion_Estudiante] UNIQUE NONCLUSTERED 
(
	[AsignacionID] ASC,
	[EstudianteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Calificaciones_AsignacionID]    Script Date: 20/8/2025 08:33:47 ******/
CREATE NONCLUSTERED INDEX [IX_Calificaciones_AsignacionID] ON [dbo].[Calificaciones]
(
	[AsignacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Calificaciones_EstudianteID]    Script Date: 20/8/2025 08:33:47 ******/
CREATE NONCLUSTERED INDEX [IX_Calificaciones_EstudianteID] ON [dbo].[Calificaciones]
(
	[EstudianteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Carreras__06370DACF8C30F3C]    Script Date: 20/8/2025 08:33:47 ******/
ALTER TABLE [dbo].[Carreras] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Carreras_FacultadID]    Script Date: 20/8/2025 08:33:47 ******/
CREATE NONCLUSTERED INDEX [IX_Carreras_FacultadID] ON [dbo].[Carreras]
(
	[FacultadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Docentes__A9D1053457361D4D]    Script Date: 20/8/2025 08:33:47 ******/
ALTER TABLE [dbo].[Docentes] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Estudian__6FA69AE1556791D4]    Script Date: 20/8/2025 08:33:47 ******/
ALTER TABLE [dbo].[EstudianteMaterias] ADD UNIQUE NONCLUSTERED 
(
	[EstudianteID] ASC,
	[MateriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EstudianteMaterias_EstudianteID]    Script Date: 20/8/2025 08:33:47 ******/
CREATE NONCLUSTERED INDEX [IX_EstudianteMaterias_EstudianteID] ON [dbo].[EstudianteMaterias]
(
	[EstudianteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EstudianteMaterias_MateriaID]    Script Date: 20/8/2025 08:33:47 ******/
CREATE NONCLUSTERED INDEX [IX_EstudianteMaterias_MateriaID] ON [dbo].[EstudianteMaterias]
(
	[MateriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Estudian__5E387B4DC5B61882]    Script Date: 20/8/2025 08:33:47 ******/
ALTER TABLE [dbo].[Estudiantes] ADD UNIQUE NONCLUSTERED 
(
	[Carnet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Estudian__A9D1053476396DA6]    Script Date: 20/8/2025 08:33:47 ******/
ALTER TABLE [dbo].[Estudiantes] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Facultad__06370DACC08807D8]    Script Date: 20/8/2025 08:33:47 ******/
ALTER TABLE [dbo].[Facultades] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_Inscripciones_Estudiante_Materia]    Script Date: 20/8/2025 08:33:47 ******/
ALTER TABLE [dbo].[Inscripciones] ADD  CONSTRAINT [UK_Inscripciones_Estudiante_Materia] UNIQUE NONCLUSTERED 
(
	[EstudianteID] ASC,
	[MateriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Inscripciones_EstudianteID]    Script Date: 20/8/2025 08:33:47 ******/
CREATE NONCLUSTERED INDEX [IX_Inscripciones_EstudianteID] ON [dbo].[Inscripciones]
(
	[EstudianteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Inscripciones_MateriaID]    Script Date: 20/8/2025 08:33:47 ******/
CREATE NONCLUSTERED INDEX [IX_Inscripciones_MateriaID] ON [dbo].[Inscripciones]
(
	[MateriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Materias__06370DACB598B402]    Script Date: 20/8/2025 08:33:47 ******/
ALTER TABLE [dbo].[Materias] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Materias_CarreraID]    Script Date: 20/8/2025 08:33:47 ******/
CREATE NONCLUSTERED INDEX [IX_Materias_CarreraID] ON [dbo].[Materias]
(
	[CarreraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Materias_DocenteID]    Script Date: 20/8/2025 08:33:47 ******/
CREATE NONCLUSTERED INDEX [IX_Materias_DocenteID] ON [dbo].[Materias]
(
	[DocenteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Asignaciones] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Asignaciones] ADD  DEFAULT ((100)) FOR [NotaMaxima]
GO
ALTER TABLE [dbo].[Asignaciones] ADD  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[Calificaciones] ADD  DEFAULT (getdate()) FOR [FechaCalificacion]
GO
ALTER TABLE [dbo].[Carreras] ADD  DEFAULT ((4)) FOR [DuracionAnios]
GO
ALTER TABLE [dbo].[Carreras] ADD  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[Docentes] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Docentes] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Docentes] ADD  DEFAULT ('Docente') FOR [Rol]
GO
ALTER TABLE [dbo].[EstudianteMaterias] ADD  DEFAULT (getdate()) FOR [FechaInscripcion]
GO
ALTER TABLE [dbo].[EstudianteMaterias] ADD  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[Estudiantes] ADD  DEFAULT (getdate()) FOR [FechaIngreso]
GO
ALTER TABLE [dbo].[Estudiantes] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Facultades] ADD  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[Inscripciones] ADD  DEFAULT (getdate()) FOR [FechaInscripcion]
GO
ALTER TABLE [dbo].[Inscripciones] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[Materias] ADD  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[Asignaciones]  WITH CHECK ADD  CONSTRAINT [FK_Asignaciones_Materias] FOREIGN KEY([MateriaID])
REFERENCES [dbo].[Materias] ([MateriaID])
GO
ALTER TABLE [dbo].[Asignaciones] CHECK CONSTRAINT [FK_Asignaciones_Materias]
GO
ALTER TABLE [dbo].[Asignaciones]  WITH CHECK ADD  CONSTRAINT [FK_Asignaciones_TiposAsignacion] FOREIGN KEY([TipoAsignacionID])
REFERENCES [dbo].[TiposAsignacion] ([TipoAsignacionID])
GO
ALTER TABLE [dbo].[Asignaciones] CHECK CONSTRAINT [FK_Asignaciones_TiposAsignacion]
GO
ALTER TABLE [dbo].[Calificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Calificaciones_Asignaciones] FOREIGN KEY([AsignacionID])
REFERENCES [dbo].[Asignaciones] ([AsignacionID])
GO
ALTER TABLE [dbo].[Calificaciones] CHECK CONSTRAINT [FK_Calificaciones_Asignaciones]
GO
ALTER TABLE [dbo].[Calificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Calificaciones_Estudiantes] FOREIGN KEY([EstudianteID])
REFERENCES [dbo].[Estudiantes] ([EstudianteID])
GO
ALTER TABLE [dbo].[Calificaciones] CHECK CONSTRAINT [FK_Calificaciones_Estudiantes]
GO
ALTER TABLE [dbo].[Carreras]  WITH CHECK ADD FOREIGN KEY([FacultadID])
REFERENCES [dbo].[Facultades] ([FacultadID])
GO
ALTER TABLE [dbo].[Docentes]  WITH CHECK ADD  CONSTRAINT [FK_Docentes_Facultades] FOREIGN KEY([FacultadID])
REFERENCES [dbo].[Facultades] ([FacultadID])
GO
ALTER TABLE [dbo].[Docentes] CHECK CONSTRAINT [FK_Docentes_Facultades]
GO
ALTER TABLE [dbo].[EstudianteMaterias]  WITH CHECK ADD FOREIGN KEY([EstudianteID])
REFERENCES [dbo].[Estudiantes] ([EstudianteID])
GO
ALTER TABLE [dbo].[EstudianteMaterias]  WITH CHECK ADD FOREIGN KEY([MateriaID])
REFERENCES [dbo].[Materias] ([MateriaID])
GO
ALTER TABLE [dbo].[Estudiantes]  WITH CHECK ADD  CONSTRAINT [FK_Estudiantes_Carreras] FOREIGN KEY([CarreraID])
REFERENCES [dbo].[Carreras] ([CarreraID])
GO
ALTER TABLE [dbo].[Estudiantes] CHECK CONSTRAINT [FK_Estudiantes_Carreras]
GO
ALTER TABLE [dbo].[Inscripciones]  WITH CHECK ADD  CONSTRAINT [FK_Inscripciones_Estudiantes] FOREIGN KEY([EstudianteID])
REFERENCES [dbo].[Estudiantes] ([EstudianteID])
GO
ALTER TABLE [dbo].[Inscripciones] CHECK CONSTRAINT [FK_Inscripciones_Estudiantes]
GO
ALTER TABLE [dbo].[Inscripciones]  WITH CHECK ADD  CONSTRAINT [FK_Inscripciones_Materias] FOREIGN KEY([MateriaID])
REFERENCES [dbo].[Materias] ([MateriaID])
GO
ALTER TABLE [dbo].[Inscripciones] CHECK CONSTRAINT [FK_Inscripciones_Materias]
GO
ALTER TABLE [dbo].[Materias]  WITH CHECK ADD  CONSTRAINT [FK_Materias_Carreras] FOREIGN KEY([CarreraID])
REFERENCES [dbo].[Carreras] ([CarreraID])
GO
ALTER TABLE [dbo].[Materias] CHECK CONSTRAINT [FK_Materias_Carreras]
GO
ALTER TABLE [dbo].[Materias]  WITH CHECK ADD  CONSTRAINT [FK_Materias_Docentes] FOREIGN KEY([DocenteID])
REFERENCES [dbo].[Docentes] ([DocenteID])
GO
ALTER TABLE [dbo].[Materias] CHECK CONSTRAINT [FK_Materias_Docentes]
GO
ALTER TABLE [dbo].[Asignaciones]  WITH CHECK ADD CHECK  (([Porcentaje]>(0) AND [Porcentaje]<=(100)))
GO
ALTER TABLE [dbo].[Calificaciones]  WITH CHECK ADD CHECK  (([Nota]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_CalcularNotaFinal]    Script Date: 20/8/2025 08:33:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- PROCEDIMIENTOS ALMACENADOS ÚTILES
-- =============================================

-- Procedimiento para calcular la nota final de un estudiante en una materia
CREATE PROCEDURE [dbo].[sp_CalcularNotaFinal]
    @EstudianteID int,
    @MateriaID int
AS
BEGIN
    SELECT 
        e.Carnet,
        CONCAT(e.Nombres, ' ', e.Apellidos) AS Estudiante,
        m.Nombre AS Materia,
        SUM(CASE 
            WHEN c.Nota IS NOT NULL THEN (c.Nota * a.Porcentaje / 100)
            ELSE 0 
        END) AS NotaFinal,
        SUM(CASE 
            WHEN c.Nota IS NOT NULL THEN a.Porcentaje 
            ELSE 0 
        END) AS PorcentajeEvaluado
    FROM Estudiantes e
    INNER JOIN Inscripciones i ON e.EstudianteID = i.EstudianteID
    INNER JOIN Materias m ON i.MateriaID = m.MateriaID
    INNER JOIN Asignaciones a ON m.MateriaID = a.MateriaID
    LEFT JOIN Calificaciones c ON a.AsignacionID = c.AsignacionID AND e.EstudianteID = c.EstudianteID
    WHERE e.EstudianteID = @EstudianteID 
      AND m.MateriaID = @MateriaID
      AND a.Activa = 1
    GROUP BY e.EstudianteID, e.Carnet, e.Nombres, e.Apellidos, m.Nombre;
END;
GO
USE [master]
GO
